/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition
	{
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,body {
	height: 100%;
}

.visaRDF {
    	padding: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background: #fbfbfb;
	color: #FFF;
	overflow: auto;
}

.synopsis_outerContainer {
	width: 96%;
	left: 2%;
	margin-bottom: 20px;
	margin-top: 20px;
	position:   relative;
}

.synopsis_loading {
	text-align: right;
	color: 		#222;
    position:   relative;
    border-bottom: 1px dotted #666;
    border-top: 1px dotted #666;
    visibility:	hidden;
    top:        0;
    left:       0;
    height:     20px;
    width:      100%;
    background:	#f9f9f9
    			url('../img/loading.gif')
    			50% 50%
                no-repeat;
}

/**** Preview ****/
.synopsis_preview {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.synopsis_previewContent {
	left: 25%;
	top: 25%;
	position: relative;
	width: 50%;
	height: 50%;
}

/**** Overlay ****/
.synopsis_overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
	padding-left: 5px;
	padding-right: 5px;
}

.synopsis_close {
    position: absolute;
    top: 0.4em;
    right: 1.0em;
    width: 2em;
    height: 60px;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
}
 
.synopsis_close:before {
    content: 'x';
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
}

.synopsis_btnTimeline {
    position: absolute;
    top: 0.8em;
    right: 5.0em;
    width: 2em;
    height: 60px;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
}
 
.synopsis_btnTimeline:before {
    content: '[...]';
    font-weight: 60;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
}

.synopsis_timelineContainer {
    padding: 2.0em;
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    overflow-y: auto;
}

#filterSelect {
     position: absolute;
     top: 0.4em;
     width: auto;
     right: 8.0em;
    z-index: 1000;
}

.synopsis_innerScroll {
    position: static;
    overflow-y: auto;
}

.noscroll {
	overflow: hidden;
}

/**** Item ****/

.synopsis_tile {
	margin: 5px;
	float: left;
	overflow: hidden;
	position: relative;
	color: #222;
}

.synopsis_tile * {
	position: absolute;
	margin: 0;
}

.synopsis_descriptionEn {
	left: 5%;
	width: 90%;
	line-height: 100%;
	font-size: 80%;
	text-align: center;
	overflow-y: auto;
	color: #FFF;
}

.synopsis_labelEN {
	left: 5%;
                    text-align : center;
                    overflow-x: hidden;
	overflow-y: auto;
	top: 5%;
	width: 90%;
	font-size: 90%;
	color: #F2F2F2;
}

.synopsis_groupLabel {
	left: 1%;
	overflow: hidden;
	top: 1%;
	height: 30%;
	width: 98%;
	font-size: 90%;
	color: #F2F2F2;
}

.synopsis_predicateLabel {
	left: 5%;
	overflow: hidden;
                    position: absolute;
                    display: inline-block;
	width: 90%;
	color: #F2F2F2;
}
.synopsis_predicate {
	left: 5%;
	overflow: visible;
        position: absolute;
        word-wrap: break-word;
	width: 90%;
	color: #F2F2F2;
}

/* .item .showUri { */
/* 	overflow: hidden; */
/* 	text-overflow: ellipsis; */
/* 	-o-text-overflow: ellipsis; fï¿½r Opera */
/* 	white-space: nowrap; */
/* 	left: 0.5em; */
/* 	width: 100px; */
/* 	bottom: 1.0em; */
/* 	font-size: 0.7em; */
/* } */

.synopsis_number {
	font-size: 1.25em;
	font-weight: bold;
	color: hsla(0, 0%, 0%, .5);
	right: 0.5em;
	top: 0.5em;
}

.synopsis_token_.synopsis_uri:hover {
	cursor: pointer;
}

.synopsis_token_.synopsis_uri:hover h3 {
	text-shadow: 0 0 10px white, 0 0 10px white;
}

.synopsis_token_.synopsis_uri:hover h2 {
	color: white;
}

/**** Options ****/
.synopsis_options {
}

.synopsis_options ul {
	margin: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.synopsis_options select {
	display:inline-block;
	margin: 0px;
}

.synopsis_options input {
	width: 200px;
	display:inline-block;
}



.synopsis_options ul ul {
	margin-left: 1.5em;
}

.synopsis_options li {
	position: relative;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;

cursor: pointer;

border-color: #c5c5c5;
background-color: #ffffff;
background-image: none;
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333333;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
border: 1px solid #bbbbbb;

-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.synopsis_options li:first-child {
	margin-left: 0;
-webkit-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-topleft: 4px;
	
}

.synopsis_options li:last-child {
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
}

.synopsis_options ul > li + li {
	margin-left: -1px;
}


.synopsis_options li:hover {
	color: #333333;
text-decoration: none;
background-color: #e6e6e6;
}

.synopsis_options li:active {
	background-color: #e6e6e6;
background-color: #d9d9d9 \9;
background-image: none;
outline: 0;
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.synopsis_options li a:hover {
	text-decoration: none;
}

.synopsis_options li a {
	color: #333333;
}


.synopsis_options li a.selected {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

/* Combination filter options*/
.synopsis_options .synopsis_option-combo {
	margin-bottom: 10px;
	color: #333333;
}

.synopsis_options .input-prepend {
	display:inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.synopsis_options .synopsis_option-combo > h2{
	color: #313131;
}

.synopsis_options .synopsis_option-combo ul {
	margin-right: 20px;
	display: inline-block;
	color: black;
}

.synopsis_options .synopsis_option-combo h2,.synopsis_options .synopsis_option-combo h4 {
	line-height: 34px;
	margin-bottom: 0;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.synopsis_clearfix:before,.synopsis_clearfix:after {
	content: "";
	display: table;
}

.synopsis_clearfix:after {
	clear: both;
}

.synopsis_clearfix {
	zoom: 1;
}

.synopsis_widthCalc {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}

/*** Multi Select ***/
a.multiSelect {
	background: #FFF url(images/dropdown.blue.png) right center no-repeat;
	border: solid 1px #BBB;
	padding-right: 20px;
	position: relative;
	cursor: default;
	text-decoration: none;
	color: black;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
}

a.multiSelect:link, a.multiSelect:visited, a.multiSelect:hover, a.multiSelect:active {
	color: black;
	text-decoration: none;
}

a.multiSelect span
{
	margin: 1px 0px 1px 3px;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	white-space: nowrap;
}

a.multiSelect.active, 
a.multiSelect.focus {
	border: inset 1px #000;
}

.multiSelectOptions {
	margin-top: -1px;
	overflow-y: auto;
	overflow-x: hidden;
	border: solid 1px #B2B2B2;
	background: #FFF;
}

.multiSelectOptions LABEL {
	padding: 0px 2px;
	display: block;
	white-space: nowrap;
}

.multiSelectOptions LABEL.optGroup
{
	font-weight: bold;
}

.multiSelectOptions .optGroupContainer LABEL
{
	padding-left: 10px;
}

.multiSelectOptions.optGroupHasCheckboxes .optGroupContainer LABEL
{
	padding-left: 18px;
}

.multiSelectOptions input{
	vertical-align: middle;
}

.multiSelectOptions LABEL.checked {
	background-color: #dce5f8;
}

.multiSelectOptions LABEL.selectAll {
	border-bottom: dotted 1px #CCC;
}

.multiSelectOptions LABEL.hover {
	background-color: #3399ff;
	color: white;
}