	<div class="option-combo sorter">
		<h2>Sort:</h2>
		<ul class="option-set clearfix" data-option-key="sortBy">
			{{#keysEach .}}
				<li><a data-sort-value="{{.}}" class="{{.}}">{{.}}</a></li>
			{{/keysEach}}
		</ul>
	</div>